<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <h1 th:text="${title}"></h1>
    <br/>
    <form method="post" style="max-width:600px;" action="/recipes/delete">
        <input type="hidden" name="id" th:value="${id}" />
        <input type="submit" value="Confirm Delete" />
    </form>
</div>
<br/>
    <div class="container"
         th:each="ingredient : ${ingredients}">
        <table>
            <tr>
                <td><strong><p th:text="${ingredient.name} + '&nbsp;' + '|' + '&nbsp;'"></p></strong></td>
                <td><p th:text="${ingredient.quantity} + '&nbsp;'"></p></td>
                <td><p th:text="${ingredient.unit.name} + '&nbsp;'"></p></td>
                <td th:if="${ingredient.quantity_2 &gt; 0}"><p th:text="${ingredient.quantity_2} + '&nbsp;'"></p></td>
                <td th:if="${ingredient.unit_2.name != 'None'}"><p th:text="${ingredient.unit_2.name} + '&nbsp;'"></p></td>
                <td><p><a th:href="@{/ingredients/edit/{id}/{recipeId}(id=${ingredient.id},recipeId=${id})}">Edit</a></p></td>
            </tr>
        </table>
    </div>

<footer th:replace="fragments :: footer"></footer>


</body>
</html>