<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <h2 th:text="${title}"></h2>
    <form method="post" style="max-width:600px;" action="/ingredients/delete">
        <input type="hidden" name="ingredientId" th:value="${ingredient.id}" />
        <input type="hidden" name="recipeId" th:value="${recipeId}" />
        <input type="submit" value="Confirm Delete" />
    </form>
</div>

<footer th:replace="fragments :: footer"></footer>


</body>
</html>