<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>
</head>
<body>

<h1 th:text="${title}"></h1>

<form method="post" action="/lists/addRecipe" th:object="${list}">
    <div class="form-group">
        <label>Choose Recipe</label>
        <select class="form-control" name="recipeId">
            <option th:each="recipe : ${recipes}"
                    th:text="${recipe.name}"
                    th:value="${recipe.id}"></option>
        </select>
    </div>

    <input type="hidden" name="listId" th:value="${list.id}" />
    <input type="submit" value="Add Recipe to List" />
</form>


</body>
</html>