<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">MealPlanner</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse"  th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav" style="list-style-type: none">
                <li class="nav-item">
                    <a class="navbar-brand" href="/recipes">MealPlanner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lists">Shopping Lists<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/add">Create New Recipe</a>
                </li>
                <li class="nav-item">
                    <a href="/lists/add">Create New ShoppingList</a>
                </li>
                <li>
                    <form class="navbar-form navbar-right"
                          action="/recipes/search">
                        <input class="form-control mr-sm-2" type="search" name="searchTerm" placeholder="Enter Recipe Name" />
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Recipes</button>
                    </form>
                </li>
            </ul>

        </div>
    </nav>
</div>

<footer class="footer" th:fragment="footer">
    <br/>
    <br/>
    <div class="container">
        <span class="text-muted">
            &copy;2017 <a href="https://www.linkedin.com/in/caleb-travers/">Caleb Travers</a>
            <br/>
            Created with Java Spring
            <br/>
            <a href="https://github.com/janglehorse/meal-planner-java">Source Code</a>
        </span>
    </div>

</footer>

</body>
</html>